.Title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0px;
    color: var(--black);
}

.titleLink {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit;        /* Наследуем цвет (черный или какой у тебя в проекте) */
    cursor: pointer;       /* Показываем "курсор-палец" при наведении */
}

.titleLink:hover h1 {
    opacity: 0.8;          /* Небольшой эффект при наведении для интерактивности */
    transition: opacity 0.2s ease;
}